/* App.css */

.app-container {
  display: flex;
  height: 100vh;
  background-color: #FAFAFA; /* Light background for the content area */
}

.content {
  flex-grow: 1;
  padding: 40px;
  margin-left: 50px; /* Adjust this based on your NavigationBar's width */
  margin-right: 50px; /* Adjust this based on your Sidebar's width */
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
}




/* CreateButton and CancelButton styles should be defined in their respective CSS files or here if they're shared */
